.sidebar-profile {
  padding-top: 20px;
  padding-bottom: 30px;
}

body .topbar.hidden-md-up + .main-container,
body .topbar.hidden-md-up + main {
  padding-top: 0;
}

@media (max-width: 767px) {
  body .topbar.hidden-md-up + .main-container,
  body .topbar.hidden-md-up + main {
    padding-top: 64px;
  }
}

.select2-container{
    width: 100% !important;
}

.border-roles{
    border: 0.5px solid #cbcbcb;
    border-radius: 10px;
    margin: 10px;
}
select[readonly]
{
    pointer-events: none;
}
.csshidden td:nth-child(6){
    max-width: 60px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
